.cardContainer {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.iConPart i {
    font-size: 45px;
}

.textPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}


.textPart p {
    font-size: 10px;
    margin-top: -10px;
   
}